body{
    background-color: #000;
}

#world{
    width: 800px;
    height: 600px;
    position: relative;
    background-image: url("../images/moon.png");
}

#animation{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    zoom: 4;
    image-rendering: pixelated;
}
